{% if config.theme.logo %}
  <img src="{{ config.theme.logo | url }}" alt="logo" />
{% else %}
  {% set icon = config.theme.icon.logo or "material/library" %}
  {% include ".icons/" ~ icon ~ ".svg" %}

  <a href="https://github.com/patrickdx" title="GitHub" class="md-header__button md-icon">
    {% include ".icons/fontawesome/brands/github.svg" %}
  </a>
  <a href="https://www.linkedin.com/in/patrick-q-4936b5175/" title="LinkedIn" class="md-header__button md-icon">
    {% include ".icons/fontawesome/brands/linkedin.svg" %}
  </a>

  
{% endif %}
